<div class="max-w-screen-xl mx-auto mt-6 bg-gray-200 p-4 rounded-md">
  <div class="flex items-center mb-4">
    <input
      type="text"
      placeholder="Search Movies..."
      [formControl]="searchControl"
      class="flex-grow p-2 border-2 bg-transparent border-gray-500 rounded-l-2xl focus:outline-none px-4"
    />
    <button
      type="button"
      class="p-3 px-6 bg-gray-600 text-white font-semibold rounded-r-2xl hover:bg-gray-800 duration-300 transition-all ease-in-out"
      (click)="triggerSearch()"
    >
      Search
    </button>
  </div>

  <div *ngIf="errorMsg" class="error-message text-red-500 mb-4">
    {{ errorMsg }}
  </div>

  <ng-container *ngIf="filteredMovies$ | async as movies; else loading">
    <app-movies-list [movies]="movies"></app-movies-list>
  </ng-container>

  <ng-template #loading>
    <p class="text-gray-500">Loading movies...</p>
  </ng-template>
</div>
